html {
    position: relative;
}

.sunny_header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, .1);

    .header_hamburger_button {
        background: none;
        border: none;

        .header_hamburger {
            width: 2.4rem;
            height: 1.8rem;
        }
    }

    .header_menu {
        display: none;
    }

    .header_menu.menuOn {
        position: absolute;
        display: flex;
        list-style: none;
        background-color: $header_mobile_menu-bg-color;
        top: 11rem;
        width: 90%;
        z-index: 999;

        display: flex;
        flex-direction: column;
        align-items: center;
        color: $header_mobile_menu-txt-color;
        font-size: 2rem;
        font-family: 'Barlow', sans-serif;
        text-transform: capitalize;
        line-height: 2.5rem;

        li {
            padding: 2rem;

            .activeBtn {
                background-color: $header_mobile_menu_active-bg-color;
                padding: 1.5rem 3rem;
                border-radius: 5rem;
                color: $header_mobile_menu_active-txt-color;
                text-transform: uppercase;
                font-family: 'Fraunces', serif;
                font-weight: 900;
            }
        }

        .menu_about {
            padding-top: 3rem;
        }

        .menu_contact {
            padding-bottom: 3rem;
        }

        .arrow-up {
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 2rem solid $header_mobile_menu-bg-color;
            ;
            border-left: 2rem solid transparent;
            top: -2rem;
            right: 0;
        }
    }
}

.sunny_creatives {
    width: 100%;
    height: 65vh;
    background-image: url(../assets/mobile/image-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .creatives_title {
        font-family: 'Fraunces', serif;
        font-size: 4rem;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        color: $creatives_title-txt-color;
        letter-spacing: .6rem;
        padding-bottom: 4rem;
        padding-top: 15rem;
    }
}

.sunny_about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about_transform,
    .about_standOut,
    .about_graph,
    .about_photo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .transform_egg,
    .standOut_glass {
        width: 100%;
        height: 35vh;
    }

    .transform_textBox,
    .standOut_textBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 2rem;
    }

    .transform_title,
    .standOut_title {
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 3.2rem;
        letter-spacing: -.2rem;
        text-align: center;
        width: 90%;
        color: $transform_standOut_title-txt-color;
    }

    .transform_description,
    .standOut_description {
        font-family: 'Barlow', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
        width: 95%;
        padding: 2rem 0 3rem 0;
        color: $transform_standOut_description-txt-color;
    }

    .transform_more,
    .standOut_more {
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 1.5rem;
        text-transform: uppercase;
        position: relative;
        color: $transform_standOut_more-txt-color;
        z-index: 0;
    }

    .transform_more::after,
    .standOut_more::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: inline-block;
        width: 110%;
        height: 1rem;
        background-color: $transform_learnLink-bg-color;
        border-radius: 3rem;
        bottom: -.1rem;
        left: -5%;
        opacity: .25;
    }

    .standOut_more::after {
        background-color: $standOut_learnLink-bg-color;
    }

    .about_graph,
    .about_photo {
        width: 100%;
        height: 65vh;
        background-image: url(../assets/mobile/image-graphic-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5rem;
    }

    .about_photo {
        background-image: url(../assets/mobile/image-photography.jpg);
    }

    .graph_title,
    .photo_title {
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 2.8rem;
        text-align: center;
        color: $graph_photo_title-txt-color;
    }

    .graph_description,
    .photo_description {
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.7rem;
        text-align: center;
        padding-top: 3rem;
        color: $graph_photo_description-txt-color;
    }

}

.sunny_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

    .testimonials_title {
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 1.6rem;
        color: $testimonials_title-txt-color;
        text-transform: uppercase;
        letter-spacing: .3rem;
        margin: 6rem 0;
    }

    [class^=testimonial_box] {
        display: flex;
        flex-direction: column;
        align-items: center;

        .testimonial_photo {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            margin-bottom: 3rem;
        }

        .testimonial_description {
            width: 90%;
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 3rem;
            text-align: center;
            color: $testimonials_description-txt-color;
            margin-bottom: 3rem;
        }

        .testimonial_name {
            font-family: 'Fraunces', serif;
            font-weight: 900;
            font-size: 1.8rem;
            color: $testimonials_name-txt-color;
            margin-bottom: 1rem;
        }

        .testimonial_job {
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            margin-bottom: 6rem;
            color: $testimonials_job-txt-color;
        }
    }
}

.sunny_graphics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
        width: 50%;
    }
}

.sunny_footer {
    background-color: $footer-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer_logo {
        margin: 6rem 0 4rem 0;
    }

    .footer_navigation {
        margin-bottom: 8rem;

        [class^=footer_] {
            color: $footer_links-txt-color;
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            text-transform: capitalize;

            &:nth-child(2) {
                margin: 0 5rem;
            }
        }
    }

    .footer_media {
        margin-bottom: 8rem;

        [class^=media_] {
            &:nth-child(n+1):nth-child(-n+3) {
                margin-right: 3rem;
            }
        }
    }
}